# Prompt format
format = """$username$hostname$directory$git_branch$git_status$python$nodejs$rust$golang$kotlin$java$cmd_duration$line_break$character"""

[character]
success_symbol = "[❯](bold green)"
error_symbol = "[❯](bold red)"

[directory]
style = "bold yellow"
truncation_length = 3

[git_branch]
style = "bold green"
symbol = " "

[git_status]
style = "bold red"

[python]
symbol = " "

[nodejs]
symbol = " "

[rust]
symbol = " "

[golang]
symbol = " "

[kotlin]
symbol = " "

[cmd_duration]
min_time = 2_000
style = "bold yellow"

[username]
show_always = true
style_user = "bold green"
format = "[$user]($style)"

[hostname]
ssh_only = false
style = "bold yellow"
format = "[@$hostname]($style) "
